@media (max-width: 810px) {
  .container {
    width: 95vw;
  }
  .image-div::after {
    display: none;
  }
  .image-title p {
    width: 200px;
  }
}

@media (max-width: 670px) {
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .image-div {
    width: auto;
  }
  .image-title p {
    text-align: center;
  }
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow-y: hidden;
}

h1 {
  text-align: center;
  color: #1a1b1b;
  padding-top: 20px;
}

.sort-icon {
  margin: 8px;
  margin-left: 20px;
  cursor: pointer;
  background-color: rgba(162, 164, 170, 0.212);
  border-radius: 5px;
  padding: 5px;
}

.sort-icon:hover {
  background-color: rgba(162, 164, 170, 0.075);
}

.container {
  width: 800px;
  height: 80vh;
  overflow-y: scroll;
  overflow-x: hidden;
  margin: auto;
  margin-top: 1%;
  padding: 5px;
  background-color: blanchedalmond;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  row-gap: 10px;
}

.container::-webkit-scrollbar {
  width: 1em;
}

.container::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.container::-webkit-scrollbar-thumb {
  background-color: rgba(92, 55, 7, 0.836);
  border-radius: 2px;
  outline: 1px solid slategrey;
}

.image-title,
.image-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.image-div {
  background-color: #1a1b1b;
  padding: 5px;
  width: 378px;
  position: relative;
}

.image-div::after {
  content: '';
  background-color: #1a1b1b;
  display: block;
  height: 60px;
  width: 40px;
  position: absolute;
  right: -38px;
  -webkit-clip-path: polygon(0 0, 50% 50%, 0 100%);
          clip-path: polygon(0 0, 50% 50%, 0 100%);
}

.image-div img {
  max-height: 200px;
  max-width: 368px;
}

.image-title {
  background-color: rgba(26, 27, 27, 0.562);
  color: white;
  letter-spacing: 1px;
  padding: 20px 30px 20px 30px;
}

.image-title p {
  width: 350px;
  overflow-wrap: break-word;
  text-align: center;
}

.loading {
  text-align: center;
  padding-bottom: 10px;
}

@media (max-width: 810px) {
  .container {
    width: 95vw;
  }
  .image-title p {
    width: 200px;
  }
}

@media (max-width: 670px) {
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .image-div {
    width: auto;
  }
  .image-div::after {
    content: '';
    background-color: #1a1b1b;
    bottom: -60px;
    right: 46%;
    -webkit-clip-path: polygon(0 0, 100% 0, 50% 30%);
            clip-path: polygon(0 0, 100% 0, 50% 30%);
  }
}
/*# sourceMappingURL=styles.css.map */